*{
  margin: 0;
  padding: 0;
}

.body{
  min-width: 360px;
  max-width: 450px;
}

/********** header **********/

header{
  background-color: #35D2B5;
  color: white;
}

.icon-title div{
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-size: 24px;
}

.icon-title{
  border-bottom:1px solid black;
}

.burger{
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin: 7px;

}

.link{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

/************ category buttons**************/

.Category-main{
  display: flex;
  flex-direction: column;
}


.Category-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  background-color: #FFC107;
  height: 48px;
  text-decoration: none;
  color: black;
  margin: 20px auto;
}