.ManagArt-main{
}

.Article{
  display: flex;
  flex-direction: column;
  width: 97%;
  background-color: #F4F4F4;
  margin: 4px auto;
  padding: 4px;
}

.Article img{
  width: 95%; 
  margin: 0 7px;
}

.Article-main h2{
  text-align: center;
  margin: 20px auto;
}

.Article-main p{
  padding: 7px;
}

.Article-author{
  float: right;
}

/*********** article buttons ********/

.Article-buttons{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.edit-button{
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.delete-button{
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF5858;
}

.ManagArt-create-button{
  position: fixed;
  left: 50px;
  bottom: 60px;
  width: 328px;
  height: 48px;
  background-color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}

.ManagArt-create-button:hover{
  cursor: pointer;
}