
.Article{
  display: flex;
  flex-direction: column;
  width: 97%;
  background-color: #F4F4F4;
  margin: 4px auto;
  padding: 4px;
}

.Article img{
  width: 95%; 
  margin: 0 7px;
}

.Article-main h2{
  text-align: center;
  margin: 20px auto;
}

.Article-main p{
  padding: 7px;
}

.Article-author{
  float: right;
}

/*********** article buttons ********/

.Article-buttons{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.edit-button{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.delete-button{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF5858;
}

.ManagArt-create-button{
  position: fixed;
  left: 50px;
  bottom: 40px;
  width: 328px;
  height: 48px;
  background-color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}

.ManagArt-create-button:hover{
  cursor: pointer;
}

/************article edit ***********/
.ArticleEdit-save-button{
  position: fixed;
  left: 50px;
  bottom: 40px;
  width: 328px;
  height: 48px;
  background-color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.ArticleEdit form{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.ArticleEdit form label{
  margin-bottom: 20px;
}

.ArticleEdit textarea{
  border-radius: 10px;
  height: 180px;
  margin-bottom: 20px;
}

.ArticleEdit input[type=text]{
  border-radius: 10px;
  height: 47px;
  margin-bottom: 20px;
}

.ArticleEdit select{
  height: 47px;
  border-radius: 10px;
}