.ManagUsr-main{
  margin: 4px auto;
}

.User{
  width: 97%;
  height: 117px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  justify-content: space-between;
  margin: 3px auto;
}

.User-name{
  margin: 20px auto;
  text-align: center;
}

/***************** user buttons *************/

.User-buttons{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.edit-button{
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.delete-button{
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF5858;
}


.ManagUsr-create-button{
  position: fixed;
  left: 50px;
  bottom: 40px;
  width: 328px;
  height: 48px;
  background-color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}